/* src/css/base/fonts.css */

/* --- Roboto --- */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400; /* Regular */
  font-display: swap; /* ¡CRUCIAL! Muestra texto con fuente de sistema mientras carga */
  src: url('../../fonts/roboto.woff2') format('woff2'); /* Ruta relativa desde el CSS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700; /* Bold */
  font-display: swap;
  src: url('../../fonts/robotoblack.woff2') format('woff2');
}

/* --- Roboto Slab --- */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700; /* Bold */
  font-display: swap;
  src: url('../../fonts/roboto-slab.woff2') format('woff2');
}